<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>
            tfgWeb -
            {% block title_block %}
                {% if user.is_authenticated %}
                    howdy {{ user.username }}!
                {% else %}
                    hey there partner!
                {% endif %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
            </div>
        <hr />
        <div>
            <ul>
            <li><a href="/tfgWeb/">Homepage</a></li>
            <li><a href="/login/">Login</a><li>
            <li><a href="/register/">Register</a><li>
            </ul>
        </div>
    </body>
</html>