<!DOCTYPE html>
{% extends "tfgWeb/base.html" %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
        <div class="info-forms">
            {% if request.user.is_authenticated %}
                <button onclick="call_upload()"> Add experiment </button>
            {% endif %}
        </div>
        <div class="experiment-list">
            {% for experiment in experiment_list %}
                <h2>{{experiment.name}}</h2>
                <a class="btn-link" href="/info/?experiment={{ experiment.id }}">About</a>
                <a class="btn-link" href="/experiment/?experiment={{ experiment.id }}">Watch Experiment</a>
            {% endfor %}
        </div>
        <div class="atlas-list">
            {% for atlas in atlas_list %}
                <h2>{{atlas.name}}</h2>
                <a class="btn-link" href="/info/?experiment={{ atlas_experiment.id }}">About</a>
                <a class="btn-link" href="/experiment/?atlas={{ atlas_experiment.id }}">Watch Atlas</a>
            {% endfor %}
        </div>
<script>
    function call_upload() {
        window.location.assign("/upload/");
    }

</script>
{% endblock %}