<!DOCTYPE html>
{% extends "tfgWeb/base.html" %}
{% load staticfiles %}

{% block title_block %}
    <div>
        <h1>tfgProject! Choose your experiment!</h1>
        {% if request.user.is_authenticated %}
            Welcome, '{{ request.user.username }}'
            <li><a href="/logout/">Log out</a></li>
        {% else %}
            <li><a href="/register/">Register</a></li>
            <li><a href="/login/">Login</a></li>
        {% endif %}
    </div>
{% endblock %}

{% block body_block %}
        <div>
            {% if request.user.is_authenticated %}
                <form id="upload_form" method="post" action="/tfgWeb/" enctype= multipart/form-data>
                    {% csrf_token %}
                    {{ upload_form.file }}
                    Order:
                    <select name="order" >
                        {% for order in orders %}
                            <option  value={{ order }} > {{ order }} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="upload" />
                </form>
                <br>
            {% endif %}
        </div>
        <div>
            {% for experiment in experiment_list %}
                <h2>{{experiment.name}}</h2>
                <a class="btn-link" href="/info/?experiment={{ experiment.id }}">Info</a>
                <a class="btn-link" href="/experiment/?experiment={{ experiment.id }}">Experiment</a>
            {% endfor %}
        </div>
{% endblock %}