<!DOCTYPE html>
{% extends "tfgWeb/base.html" %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
        {% if not experiment.is_atlas %}
            <div class="info-forms">
                <form id="name_form" method="post" action="/info/?experiment={{experiment.id}}" enctype= multipart/form-dat>
                    {% csrf_token %}
                    Name:
                    <input id="name" size="30" maxlength="150" name="name" type="text" value="{{experiment.name}}"\>
                    <input type="submit" value="Update">
                </form>
                <form action="/info/?experiment={{experiment.id}}" method="post" name="delete_form">
                    {% csrf_token %}
                    <input  input name="delete" hidden value="False">
                    <input type="submit" name="delete" value="Delete">
                </form>
            </div>
        {%endif%}
        <table id="table">
            <caption class="table-title">Info about the experiment</caption>
            <col width="150">
            <col width="400">
            <tr class="head_row">
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>{{experiment.name}}</th>
            </tr>
            <tr>
                <th>Side axis</th>
                <th>{{experiment.side_axis}}</th>
            </tr>
            <tr>
                <th>Top axis</th>
                <th>{{experiment.top_axis}}</th>
            </tr>
            <tr>
                <th>Front axis</th>
                <th>{{experiment.front_axis}}</th>
            </tr>
            <tr>
                <th>Atlas</th>
                <th>{{experiment.is_atlas}}</th>
            </tr>
            {%for serie in metadata_list%}
                {%for key, value in serie.items %}
                    {%if key == 'Name' %}
                        <tr class="expecial_row">
                            <th colspan = "2">{{value}}</th>
                        </tr>
                    {%else%}
                        <tr>
                            <th>{{key}}</th>
                            <th>{{value}}</th>
                        </tr>
                    {%endif%}
                {%endfor%}
            {%endfor%}
        </table>
{% endblock %}