{% extends 'tfgWeb/base.html' %}

{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    <h1 class="h1-view">Register</h1>
    <div class="login-forms">
        {% if registered %}
            <strong>thank you for registering!</strong>
            <a href="/tfgWeb/">Return to the homepage.</a><br />
        {% else %}
            <form id="user_form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Display each form -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
    </div>

{% endblock %}